header {
    text-align:center;
    position:relative;
    margin-bottom:-67px;
    z-index:2;

    img {
        width:375px;
        z-index:1;
        position:relative;
    }

    &:before {
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:23px;
        background:#ff3333;
        z-index:0;
    }
}